#home-main-container {
  background-color: var(--tWhite);
  color: var(--tWhite);
  width: calc(100% - 80px);
  min-height: 100vh;
  margin-left: 80px;
  position: relative;
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  #home-main-container {
    margin-left: 0px !important;
    width: 100% !important;
  }
}

#home-left {
  border-radius: 0.75rem;
  padding: 50px;
  background: #396afc;
  background: -webkit-linear-gradient(135deg, #3c58f8, #2e51b9);
  background: linear-gradient(135deg, #3c58f8, #2e51b9);
  color: var(--tWhite);
}

#home-right {
  border-radius: 0.75rem;
  padding: 10px;
  background: #00d2ff;
  background: -webkit-linear-gradient(135deg, #619ef3, #5384ca);
  background: linear-gradient(135deg, #619ef3, #5384ca);
}

.search-container .bi-search {
  color: rgba(255, 255, 255, 0.5);
}

.search-container input {
  border: none;
  background-color: transparent;
  color: var(--tWhite);
  padding: 20px;
  font-size: 2rem;
}

.search-container input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-container input:focus {
  outline: none;
}

.home-right-top,
.home-right-middle,
.home-right-bottom {
  width: 100%;
}

.city-panel small {
  color: rgba(255, 255, 255, 0.7);
}

.city-icon {
  height: 65px;
  width: 65px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
}

.city-info p {
  margin-bottom: -10px !important;
  color: #fff;
}

.forecast-daily-panel {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
  padding: 10px;
  height: 200px;
}

.forecast-daily-panel img {
  margin-bottom: -16px;
}

.country-label {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 10px 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  display: inline-block;
}

.home-right-panel {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
}

.home-right-panel i {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
}

.home-right-panel p {
  color: rgba(255, 255, 255, 0.95);
}

@media only screen and (min-width: 970px) {
  .col-20percent {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.favourite-btn {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.165);
  border-bottom: 1px solid rgba(0, 0, 0, 0.165);
}

.favourite-btn:focus {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: none;
}

.favourite-btn:active {
  background-color: rgba(0, 0, 0, 0.15) !important;
  box-shadow: none !important;
}

.favourite-btn:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.favourite-btn .fa-star {
  transition: transform 0.25s ease;
}

.favourite-btn:hover .fa-star:active {
  transform: scale(0.9);
}

.favourite-btn:hover .fa-star {
  transform: scale(1.15);
}

.favourite-btn .fa.fa-star {
  color: rgb(255, 217, 0);
}
