#home-main-container {
  background-color: var(--tWhtie);
  color: var(--tWhite);
  width: calc(100% - 80px);
  min-height: 100vh;
  margin-left: 80px;
  padding: 30px;
  position: relative;
  z-index: 0;
}
